*{
    margin:0;
    padding:0;
}
body {
  width:98%;  
    margin:20PX auto;
}
hr{
content: '';
	 border: 0; 
  height: 5px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 

}
.Encabezado {
    width:98%;  
    margin:20PX auto;
}

.Cuerpo{
    width:98%;  
    margin:20PX auto;
}

.GridControl{
    width: 100%; 
    /*background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse;*/
}

/*.GridControl td{
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}

.GridControl th{
     padding: 4px 2px; 
    color: #fff; 
    background: #424242 url(grd_head.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}*/



.Botones {
/* Color del texo */
color: #0099CC;
/* Eliminar color de fondo */
background: transparent;
/* Grosor del borde, estilo de línea y color */
border: 2px solid #0099CC;
/* Añadir esquinas curvadas */
border-radius: 6px;
/* Poner texto en mayúsculas */
border: none;
color: white;
padding: 10px 10px;
text-align: center;
display: inline-block;
font-size: 12px;
margin: 4px 2px;
width:25%;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
text-decoration: none;
text-transform: uppercase;
}
.Botones {
background-color: white; 
color: black; 
border: 2px solid #008CBA;
}
/* Al poner el curso encima (hover) */

.Botones:hover {
background-color: #008CBA;
color: white;
 }





.BotonesGrid {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: right;
    align-self: center;
    display: inline-block;
    font-size: 12px;
    width: 90%;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.BotonesGrid{
    background-color: white; 
color: black; 
border: 2px solid #008CBA;
cursor:pointer;
}
.BotonesGrid:hover{
    background-color: #008CBA;
color: white;
cursor:pointer;
}

.Boton-Consultar {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    width: 25%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.Boton-Consultar {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
}
    .Boton-Consultar:hover {
        background-color: #008CBA;
        color: white;
        cursor: pointer;
    } 

.combobox {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    margin: 5px 0;
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

h1{
        text-align:center;
        /*text-shadow:2px 2px 5px #090909;*/
       
}
.Label-Encabezado{
  padding:8px;
  margin:auto;
  color:#008CBA;
  font-size-adjust:inherit;
}

.Label{
  padding:8px;
  margin:auto;
  color:#050505;
  font-size-adjust:inherit;
}
.Texbox-Fecha{
    width:10%;
    border:2px solid #008CBA;
    border-radius:5px;
    margin:10px 0;
    outline:none;
    padding:8px;
    /*box-sizing:border-box;*/
    transition:.3s;
    cursor:pointer;
}

.Texbox-Fecha:focus{
    border-color:dodgerblue;
    box-shadow:0 0 20px 0 dodgerBlue;
}

.Caja-Texto-Login{
    width:30%;
    border:2px solid #008CBA;
    border-radius:5px;
    margin:10px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    
}

.Caja-Texto-Login:focus{
    border-color:dodgerblue;
    box-shadow:0 0 20px 0 dodgerBlue;
}

.Box{
     width:auto;
  margin: auto;
  border: 3px solid #008CBA;
   border-radius: 8px;
}

.Grid{
    width:98%;
}

.grilla{
    width:100%
}

.Radio{
    width: 20px;
  height: 25px;
  padding: 0 10px;
  cursor:pointer;
}

.bloque-Login{
    text-align:center;
}

.Centrar{
    text-align:center;
    margin:50px;
    
}

.Usuario-Conectado{
    text-align:center;
  padding:8px;
  margin:auto;
  color:#008CBA;
  font-size-adjust:inherit;
}


.LabelFormularios{
    width: 200px;
   display: inline-block;
   text-align: right;
   color:black;
}
 

.Texto{
        width:50%;
    border:2px solid #008CBA;
    border-radius:5px;
    /*margin:10px 0;*/
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

.Texto:focus{
    border-color:dodgerblue;
    box-shadow:0 0 20px 0 dodgerBlue;
}

.Contenedor{
    background:#bebbbb;
    padding:10px;
    overflow:hidden;
    width:98%;
}

.Bloque-Izquierda{
    float:left;
    text-align:left;
    padding:10px;
    color:#fff;
    width:50%;
    margin:40px;
    /*background:#039;*/
}

.Bloque-Izquierda-Formularios{
        float:left;
    text-align:left;
    padding:10px;
    color:black;
    width:100%;
    margin:40px;
    /*background:#039;*/
}

.Bloque-Derecha{
    float:right;
    text-align:right;
    padding:10px;
    color:#fff;
    width:30%;
    margin:40px;    
    /*background:#039;*/
}
.Bloque-Centro{
   
    text-align:center;
    /*padding:10px;*/
    color:#fff;
    /*width:30%;
    margin:40px;*/
    /*background:#039;*/
}

.CheckBox-Formularios{
    width:100px;
    border-radius:5px;
    outline:none;
    margin-left: 205px;
    box-sizing:border-box;
    transition:.3s;
    cursor:pointer;
}

.Caja-Texto-Paginacion{
        width:10%;
    border:2px solid #008CBA;
    border-radius:5px;
    margin:10px 0;
    outline:none;
    padding:8px;
    /*box-sizing:border-box;*/
    transition:.3s;
    cursor:pointer;
}

.Caja-Texto-Paginacion{
    width:5%;
    border:2px solid #008CBA;
    border-radius:5px;
    margin:10px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    
}

    .Caja-Texto-Paginacion:focus {
        border-color: dodgerblue;
        box-shadow: 0 0 20px 0 dodgerBlue;
    }


/*.ResponsiveDesing {
    content: '';
}*/













