<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <pages maintainScrollPositionOnPostBack="true"></pages>
    <globalization
       culture="ja-JP"
       uiCulture="zh-HK"
    />
    <!--<pages maintainScrollPositionOnPostBack="true">-->
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>

    <!--Aqui comienza la autentificacion-->
    <sessionState mode="InProc" cookieless="false" timeout="5" />
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="Paginas/Login.aspx" defaultUrl="Paginas/MenuPrincipal.aspx"
      protection="All" path="/" timeout="60" slidingExpiration="true" />
    </authentication>


    <authorization>
      <deny users ="?" />
      <allow users = "*" />
    </authorization>
    <!--Aqui Termina lac Autentificacion-->
  </system.web>


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="UtilidadesAmigosConexion" connectionString="Data Source=172.25.24.3; User=sa; Password=Pa$$W0rd; Initial Catalog=SysFlexSeguros;Integrated Security=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>