<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConsultarInformacionPolizasSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.26.24.199/wsdatopoliza/ConsultarInformacionPolizas.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConsultarInformacionPolizasSoap"
                contract="MetodosWS.ConsultarInformacionPolizasSoap" name="ConsultarInformacionPolizasSoap" />
        </client>
    </system.serviceModel>
</configuration>