<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString"
            connectionString="Data Source=INGJUANMARCELIN;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString1"
            connectionString="Data Source=172.25.24.3;Initial Catalog=SysFlexSeguros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString2"
            connectionString="Data Source=172.25.24.3;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString3"
            connectionString="Data Source=INGJUANMARCELIN;Initial Catalog=SysFlexSeguros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString4"
            connectionString="Data Source=JUANMARCELINOMD;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString5"
            connectionString="Data Source=JUANMARCELINOMD;Initial Catalog=SysFlexSeguros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString6"
            connectionString="Data Source=172.25.24.3;Initial Catalog=SysFlexSeguros;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString7"
            connectionString="Data Source=JDIAZ0624;Initial Catalog=SysFlexSeguros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString8"
            connectionString="Data Source=jdiaz0624;Initial Catalog=SysFlexSeguros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString9"
            connectionString="Data Source=JDIAZ0624;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString10"
            connectionString="Data Source=Jdiaz0624;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString11"
            connectionString="Data Source=jdiaz0624;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString12"
            connectionString="Data Source=172.26.24.199;Initial Catalog=SysFlexSeguros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString13"
            connectionString="Data Source=172.25.24.3;Initial Catalog=SysFlexSeguros;User ID=sa;Password=Pa$$W0rd"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString14"
            connectionString="Data Source=TECNOLOGIA;Initial Catalog=SysFlexSeguros;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString15"
            connectionString="Data Source=TECNOLOGIA;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UtilidadesAmigos.Data.Properties.Settings.SysFlexSegurosConnectionString16"
            connectionString="Data Source=172.26.24.199;Initial Catalog=SysFlexSeguros;Integrated Security=False;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>